body {
    margin: 0;
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}
.right {
    height: 100%;
    width: 300px;
    background-color: #e65b7a;
    position: absolute;
    margin: 0 auto;
    right: 0%;    
}
.bg-logo {
    position: relative;
    height: 25%;
    width: 100%;
}
.logo {
    position: absolute;
    height: 12%;
    width: 30%;
    left: 113px;
    top: 10px;
}
.uic-text {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 5px;
    left: 30px;
}
button:hover {
    cursor: pointer;
    background-color: #c03d5a;
}
.home {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 10px;
    position: relative;
}
.fv {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 20px;
    position: relative;
}
.elect {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 30px;
    position: relative;
}
.pl {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 40px;
    position: relative;
}
.si {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 50px;
    position: relative;
}
.oe {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 60px;
    position: relative;
}
.alumni {
    background-color: #c03d5a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 70px;
    position: relative;
}
.box1 {
    width: 50%;
    height: 280px;
    background-color: #ffffff;
    border: 1px solid #9a9a9a;
    position: relative;
    left: 50px;
    top: 20px;
}
.box2 {
    width: 350px;
    height: 250px;
    background-color: #ffffff;
    border: 1px solid #9a9a9a;
    position: relative;
    left: 50px;
    top: 80px;
}
.topic {
    width: 300px;
    padding: 100px 50px;
    top: 150px;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */

    .uic-text {
        color: white;
        font-size: 18px;
        position: absolute;
        top: 105px;
        left: 30px;
    }
    .box1 {
        height: 380px;
    }
}

@media only screen and (min-width: 1090px) {
    /* For desktop: */
    .box1 {
        width: 65%;
    }
}
