body {
    margin: 0;
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}
.right {
    height: 100%;
    width: 300px;
    background-color: #e65b7a;
    position: absolute;
    margin: 0 auto;
    right: 0%;    
}
.bg-logo {
    position: relative;
    height: 25%;
    width: 100%;
    opacity: 0.8;
}
.logo {
    position: absolute;
    height: 12%;
    width: 30%;
    left: 113px;
    top: 10px;
}
.uic-text {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 5px;
    left: 30px;
}
button:hover {
    cursor: pointer;
    background-color: #c03d5a;
}
.home {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 200px;
    position: absolute;
}
.fv {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 260px;
    position: absolute;
}
.elect {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 320px;
    position: absolute;
}
.pl {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 380px;
    position: absolute;
}
.si {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 440px;
    position: absolute;
}
.oe {
    background-color: #e65b7a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 500px;
    position: absolute;
}
.alumni {
    background-color: #c03d5a;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 248px;
    height: 45px;
    border-radius: 5px;
    left: 28px;
    top: 560px;
    position: absolute;
}
.box1 {
    width: 50%;
    height: 280px;
    background-color: #ffffff;
    border: 1px solid #9a9a9a;
    position: relative;
    left: 50px;
    top: 20px;
}
.box2 {
    width: 350px;
    height: 250px;
    background-color: #ffffff;
    border: 1px solid #9a9a9a;
    position: relative;
    left: 50px;
    top: 70px;
}
.topic[type=text] {
    width: 300px;
    padding: 10px 10px;
    background-color: #f5f5f5;
    border: 1px solid #9a9a9a;
    margin-top: 70px;
    margin-left: 115px;
    font-size: 13px;
}
.ans {
    width: 720px;
    height: 220px;
    background-color: #f5f5f5;
    border: 1px solid #9a9a9a;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;
}
.dp {
    position: absolute;
    top: 10px;
    left: 20px;
}
.dp1 {
    position: relative;
    display: block;
    top: 10px;
    left: 20px;
    width: 16%;
    height: 25%;
}
.dp2 {
    position: relative;
    display: block;
    top: 25px;
    left: 20px;
    width: 16%;
    height: 25%;
}
.dp3 {
    position: relative;
    display: block;
    top: 40px;
    left: 20px;
    width: 16%;
    height: 25%;
}
.fullname {
    font-size: 20px;
    position: absolute;
    color: #717171;
    left: 115px;
}
.stud {
    font-size: 18px;
    position: absolute;
    color: #717171;
    left: 115px;
    top: 20px;
}
.other {
    font-size: 23px;
    position: absolute;
    color: #717171;
    left: 60px;
    bottom: 280px;
}
.about{
    font-size: 18px;
    position: absolute;
    top: 5px;
    left: 85px;
    color: #717171;
}
.read {
    font-size: 15px;
    top: 38px;
    left: 85px;
    position: absolute;
}
.about1{
    font-size: 18px;
    position: absolute;
    top: 85px;
    left: 85px;
    color: #717171;
}
.read1 {
    font-size: 15px;
    top: 118px;
    left: 85px;
    position: absolute;
}
.about2{
    font-size: 18px;
    position: absolute;
    top: 165px;
    left: 85px;
    color: #717171;
}
.read2{
    font-size: 15px;
    top: 198px;
    left: 85px;
    position: absolute;
}
.logout {
    bottom: 5px;
    position: absolute;
    right: 5px;
    color: white;
}
.sub {
    background-color: green;
    color: white;
    border: none;
    position: absolute;
    bottom: 2px;
    right: 25px;
    padding: 5px;
    display: none;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */

    .uic-text {
        color: white;
        font-size: 18px;
        position: absolute;
        top: 105px;
        left: 30px;
    }
    .box1 {
        height: 380px;
    }
}

@media only screen and (min-width: 1090px) {
    /* For desktop: */
    .box1 {
        width: 65%;
    }
}
